* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
  text-align: center;
  line-height: 5vh;
  min-height: 33px;
}

#container {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  flex: 0 1 auto;
  height: 5vh;
  background: linear-gradient(rgb(128, 223, 255, 1), rgb(128, 223, 255, 0));
}

textarea {
  flex: 1 1 auto;
}

#download {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 3vh;
  min-height: 20px;
}

#download label{
  line-height: 100%;
}

#download input{
  border-radius: 10px 0px 0px 10px;
}

#download button {
  width: 120px;
  color: black;
  background: gold;
  border-radius: 0px 10px 10px 0px;
}