* {
  margin: 0px;
  padding: 0px
}

h1 {
  text-align: center;
  line-height: 5vh
}

#container {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  flex: 0 1 auto;
  height: 5vh
}

textarea {
  flex: 1 1 auto;
}

#download {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 3vh;
}

#download label{
  line-height: 3vh
}

#download button {
  width: 20%;
}